#friendlist{
    display: grid;
    grid-template-columns:  auto auto auto ;
    margin-bottom: 100px;
    
}
#frienddiv{
	width: 80%;
    height: 400px;
    box-sizing: border-box;
    padding-left: 5px;
}
#friendimg{
	width: 200px;
 	height: 250px;
}
div#friendlist.w3-row::before{
  content: none;
}