*{
  padding: 0;
  margin: 0;
}
/*body { 
  margin:0px;
  overflow: hidden;
background: rgb(255,255,255);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(171,209,234,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(171,209,234,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(171,209,234,1) 100%);
filter: progid:DXImageTrans#logbar.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#abd1ea',GradientType=1 );
}
#canvas{
  position: fixed;
  z-index: 1;
}*/
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#page{
  position: relative;
  z-index: 2;
  width: 300px;
  margin: 0 auto;
}
.wrap {
  width: 300px;
  margin: 0px auto;
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow:
    0 0 2px 0 rgba(0,0,0,0.3),
    5px 10px 0 -2px rgba(255,255,255,1),
    5px 10px 2px -2px rgba(0,0,0,0.3),
    8px -9px 0 -2px rgba(255,255,255,1),
    8px -9px 2px -2px rgba(0,0,0,0.3);
}
.wrap h2 {
  font-family: 'Actor';
  font-size: 2em;
  text-trans#logbar: uppercase;
  text-align: center;
  color: rgb(176, 211, 235);
  padding: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(176, 211, 235);
}
.wrap #logbar {
  padding: 5px;
}
.wrap #logbar input {
  border: none;
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgb(176, 211, 235);
  border-bottom: 1px solid rgb(176, 211, 235);
  transition: all 2s;
}
.wrap #logbar label {
  display: block;
  background: rgb(176, 211, 235);
  padding: 8px 12px;
  margin-top: -15px;
  color: rgb(0,0, 0);
  font-size: 13px;
  text-trans#logbar: uppercase;
  letter-spacing: 3px;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgb(176, 211, 235);
  border-top: none;
  transition: all 0.7s;
}
.wrap #logbar input:hover, .wrap #logbar input:hover + label, .wrap #logbar label:hover {
  border-color: #000;
}
.wrap #logbar input:hover {
  border-bottom-color: #fff;
  box-shadow: 0 -6px 2px -5px rgba(0,0,0,0.3);
}
.wrap #logbar input:focus, .wrap #logbar input:focus + label {
  border-color: #000;
  box-shadow: 0 -6px 2px -5px rgba(0,0,0,0.3);
}
.wrap #logbar input:focus + label {
  background: rgb(176, 211, 235);
  color: #fff;
}
.wrap #logbar .btn_wrap {
  text-align: center;
}
.wrap #logbar input#sub {
  border-radius: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 120px;
  font-size: 12px;
  text-trans#logbar: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  background: rgb(176, 211, 235);
  padding: 10px 15px;
  margin: 25px;
  transition: all 0.7s;
}
.wrap #logbar input#sub:hover {
  width: 150px;
  color: #000;
  text-shadow: 
    0 0 5px rgba(0,0,0,0.8);
  box-shadow:
    inset 5em 3em 0 0 rgba(255,255,255,0.1),
    inset 5em -3em 0 0 rgba(255,255,255,0.2),
    inset -5em 3em 0 0 rgba(255,255,255,0.1),
    inset -5em -3em 0 0 rgba(255,255,255,0.2),
    0 0 0 1px rgb(176, 211, 235);
}
.wrap #logbar button#save {
  border-radius: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 120px;
  font-size: 12px;
  text-trans#logbar: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  background: rgb(176, 211, 235);
  padding: 10px 15px;
  margin: 25px;
  transition: all 0.7s;
}
.wrap #logbar button#save:hover {
  width: 150px;
  color: #000;
  text-shadow: 
    0 0 5px rgba(0,0,0,0.8);
  box-shadow:
    inset 5em 3em 0 0 rgba(255,255,255,0.1),
    inset 5em -3em 0 0 rgba(255,255,255,0.2),
    inset -5em 3em 0 0 rgba(255,255,255,0.1),
    inset -5em -3em 0 0 rgba(255,255,255,0.2),
    0 0 0 1px rgb(176, 211, 235);
}
.sign-up {
  font-size: 13px;
  text-align: center;
  color: rgb(176, 211, 235);
}
.sign-up a {
  color: rgb(176, 211, 235);
  text-trans#logbar: uppercase;
  transition: all 0.8s;
}
.sign-up a:hover {
  color: #fff;
  box-shadow: inset -125px 0 0 rgb(176, 211, 235);
}
.name .surname .password .email .age .confirm_password{
  background:red;
  border:2px solid red;
}