/*Add Photo*/
.wrapper-block {
    background-image: url(http://e-riverstyle.com/demo/icon.png);
    background-repeat: no-repeat;
    background-size: 100px auto;
    height: 100px;
    float: right;
}
input[type="file"] {
    height: 100px;
    -webkit-appearance: none;
}
input[type="file"]::-webkit-file-upload-button {
    width: 100px;
    height: 100px;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
}
#picdiv{
    height: 350px;
    padding: 5px;
}
#picimg{
    height: 250px;
}
#photo-galery{
    display: grid;
    grid-template-columns:  auto auto auto;
    margin-bottom: 100px;
}
input.fa.fa-camera::before{
  content: none;
}