.bttt{
	background: #63615a;
	color: white;
}
.pgname{
	color: #dc3545;;
	text-decoration: none;
}
.pgname:hover{
	color: #28a745;
	text-decoration: none;
}
#profpg{
	margin-bottom: 100px;
}
#postarea, #commentarea{

	width: 100%;
}
#postphoto{
	width: 100px;
	height: 38px;
}
.postbutt{
	color:white;
	background: red;
	border-radius: 5px;
	
}