#preqdiv{
	width: 80%;
    height: 400px;
    box-sizing: border-box;
    padding-left: 5px;
}
#reqpic1img{
	width: 200px;
 	height: 250px;
}
#requestlist{
    display: grid;
    grid-template-columns:  auto auto auto;
    margin-bottom: 100px;
}
div#requestlist.w3-row::before{
	content: none;
}